/* GLOBAL */
html, body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* HEADER */
.header__top{
    background-color: #ff4f81;
    font-size: 14px;
}

.header__top a{
    text-decoration: none;
    color: white
}

.header__right a{
    width: 30px;
    height: 30px;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 0.25rem;
}

.navInstruction a{
    color: black;
}

.navInstruction .navbar-brand p:first-child{
    font-size: 36pt;
}

.navInstruction .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child{
    font-size: 11px;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
}
